html, body {
	height: 100%;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.min-full-width {
	min-width: 100%;
}

.text-full-width {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.menu > button {
	width: 100%;
}

.button-square {
	padding: 0;
	width: 38px;
}

#column-title {
	width: 65%;
}

#column-date {
	width: 30%;
}

#column-delete {
	width: 5%;
}

#raw-data {
	font-family: monospace;
}